/* general */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    color: #323232;
    background-color: #eeefed;
    -webkit-font-smoothing: antialiased;
    
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group, 
.menu {
    *zoom: 1;
}
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
strong {
    font-weight: 600;
}
.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.fa {
    vertical-align: middle;
}
.menu li {
    float: left;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.25em;
}

/* navigace */
.contact-bar,
.personal a {
    color: #ffffff;
}
.contact-bar {
    background:  #3389b1;
    height: 5.250em; /* 84/16 */
    
    font-size: 0.875em; /* 14/16 */
}
.personal {
    float: left;
    margin: 1.875em; /* 30/16*/
}
.social {
    float: right;
    margin: 0.625em; /* 10/16 */
    margin-top: 1.125em; /* 18/16 */
}
.personal li {
    margin-right: 4.375em; /* 70/16 */
}
.personal .fa {
    font-size: 1.750em; /* 28/16 */
    margin-right: 0.625em; /* 10/16 */
}
.social .fa {
    font-size: 1.063em; /* 17/16 */
}
.social-icon {
    display: block;
    height: 3.000em; /* 48/16 */
    width: 3.000em; /* 48/16 */
    line-height: 3.625em; /* 58/16 */
    margin-right: 0.125em; /* 2/16 */
    color: #989898;
    background-color: #eeefed;
    text-align: center;
    border-radius: 0.250em; /* 4/16 */
}
.social-icon:hover,
.social-icon:focus {
    color: #eeefed;
    background: #5bd0ec;
}

/* kontakt */
.nav-bar {
    background-color: #f2f2f2;
    clear: both;

}
/* logo */
.logo {
    float: left;
    width: 18.750em; /* 300/16 */
    height: 6.250em; /* 100/16 */
    

}
.header-logo {
    margin-top: 1.688em; /* 27/16 */
    border: #3389b1 solid 0.313em; /* 5/16 */
    
}
.header-logo h1 {
    margin: 0;
    color: #3389b1;
    padding: 10px 5px 2px 40px;
    text-align: end;
}

/* navigace */
.nav-bar {
    height: auto; /*9.5em*/
}
.navigace {
    float: right;
   
}
.navigation .fa {
    display: block;
    padding-bottom: 0.625em; /* 10/16 */
    padding-top: 1.875em; /* 30/16 */
}
.navigation a {
    color: #a6a6a6;
    display: block;
    width: 8.500em; /* 136/16*/
    height: 7.500em; /* 120/16 */
    text-align: center;
}
.navigation li {
    border-left: 1px solid #cecece;
}
.navigation li:last-child {
    border-right: 1px solid #cecece;;
}
.selected, 
.navigation a:hover,
.navigation a:focus {
    color: #de5748;
}
.selected {
    height: 7.813em; /* 125/16 */
    margin-bottom: 1.250em; /* 20/16 */
}

/*ARTICLE*/
.text-center {
    text-align: center;
}
.post-header {
    height: 10.000em; /* 160/16*/
    background: url('../img/adventure/blueberries-690072_1920.jpg') center -17.125em no-repeat; /* 274/16*/
}
.post-title {
    color: #fff;
    font-size: 1.875em; /* 30/16 */
    font-weight: 600;
    background:  #7aaec981;
    padding: 1.125em 2.875em; /* 18 46*/
    border-radius: 7px;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 1.000em; 
    letter-spacing: 0.063em; /* 1/16 */
}
.post-content h2 {
    margin-top: 2.188em; /* 35/16*/
    color: #323232;
    font-weight: 400;
    font-size: 1.875em; /* 30/16 */
    
}
.post-content {
    padding-bottom: 6.250em; /* 100/16 */
}
.menu-controls {
    width: 40.125em; /* 642/16 */
    margin: 50px auto 10px auto;
    text-align: center;
}
.controls {
    list-style: none;
    display: inline;
    
}
.contr {
    padding: 10px 20px;
    background: #3389b1;
    color: #ffffff;
    margin-right: 10px;
    border-radius: 7px;   
}
.contr:hover {
    color: #3389b1;
    background: #fff;
}
.gallery {
    font-size: 0;
    text-align: center;
}
img {
    width: 400px;
    height: 250px;
}

/*pre-footer*/
.pre-footer {
    padding-top: 1.875em; /* 30/16 */
    text-align: center;
    color: #fff;
    background: rgb(65, 63, 63);
    height: 12.500em; /* 200/16 */
}

.foot {
    text-align: center;
    margin-top: 1.563em;
    
}
.foot a {
    color: #fff;
}
.foot li {
    margin-right: 4.375em; /* 70/16 */
    display: inline-block;
}
.foot .fa {
    font-size: 1.750em; /* 28/16 */
    margin-right: 10px;
}

/* FOOTER*/
footer {
    height: 3.125em; /* 50/16 */
    color: #323232;
    background-color: #eeefed;
    font-size: 1.125em; /* 18/16 */
    text-align: center;
}